
<% include header %>

<h1>About</h1>

<h2>What is the purpose of this website?</h2>
<p>My application is a database of high school sports teams and information about the players and coaches for each high school team.
    A user can select a high school and then select a team and view a player and coach roster for each sport. This application exists as a tool for players, coaches, and parents to find out information about teammates for carpooling and contact reasons.
    The world is moving into a paperless direction and my application will help keep a paperless directory of players and coaches. It is useful so that new players can look up other player's contact information for outside practice or team bonding. It is also useful for parents who are in charge of carpools or snacks. Parents can look at a team to figure out how many people are a part of a team.
    I do have plans to modify my project in the future into an app.
    It is very simple right now to serve as the building block for a future project.
    It will later include a schedule for each team and statistics, message board that players and coaches can post to, and a segment for team parents to coordinate carpooling.
    Most high school teams use Facebook or other social media to organize their team or contact information.
    Not everyone uses these sites and my application serves the pure purpose of a centralized location for information about that team.
</p>

<h2>About the Developer:</h2>
<p>Mackenzie Larson is a Computer Science major and an Applied Statistics minor at Sonoma State University. She will be graduating in the Spring of 2016. She enjoys art, programming, and going to San Francisco Giants games.
She has two pets, a chocolate lab named Nestle and a beta fish named Trevor. Her parents really like her pet Trevor and want to keep him at home. She is currently sitting in the library on a Saturday night working on this hoping that someone brings her doughnuts soon.  </p>
<h2>Contact Info</h2>
<p><li><b>Phone:</b> 123-456-7810</li>
<li><b>Email:</b> myemail@notarealemail.com</li></p>

<% include footer %>