<!DOCTYPE HTML>
<html>
<head>
    <title>HS TEAMS APP</title>
    <link href="/style.css" type="text/css" rel="stylesheet" >
    <script type="text/javascript" src="/jquery-1.11.2.min.js"></script>

    <% if(typeof js_include !== 'undefined') {
        for(var i = 0; i < js_include.length; i++) { %>
            <script type="text/javascript" src="/<%= js_include[i] %>"></script>
    <%  }
       }
    %>
</head>
    <body>
        <% // single lin comment */ %>
        <% /* block
              comments
            */ %>
        <div id="header">
            <h1><%= locals.settings.subtitle %>: High School Sports</h1>
        </div>

        <div id="nav">
            <a href="/" >Home</a> <br />
            <a href="/about" >About</a> <br />
            <a href="/hs/create">Create a High School</a> <br />
            <a href="/hs/select">Select a High School</a> <br />
            <a href="/hs/delete">Remove a High School</a> <br />
            <a href="/sport/create">Create a Sport</a> <br />

        </div>
        <div id="content">
