<% include header %>

<h1>Welcome to the High School Sports Teams Website!</h1>
<h2><i>Where all high school sports teams are in one easy location</i></h2>




<h3>Start by selecting a high school: </h3>
<li><a href="/hs/select">Select a High School</a></li>

<h3>Don't see the school that you were looking for? Create one!</h3>
<li><a href="/hs/create">Create a High School</a></li>





<% include footer %>

